
@{
    ViewData["Title"] = "Dormitorio";
}

<!-- SECTION -->
<section>
    <div class="quarto">
        <div class="img">
            <div class="img" style="background-image: url(https://www.cadernodeviagem.com.br/wp-content/uploads/2019/11/dormitorio-hostel-freehand-los-angeles-1024x683.jpg); "></div>
        </div>
        <div class="conteudo">
            <h1>Dormitorios</h1>
            <p>O Dormitório possui duas beliches, tendo um clima agradável e relaxante para o descanso em conjunto com seus amigos ou familiares. Ao mesmo tempo, a bancada permite a execução de trabalhos no mesmo espaço, atendendo a todas as necessidades dos hospedes. Quarto com de 38 a 46 m², este quarto conta com 1 cama de casal, ar condicionado, internet wi-fi, cofre eletrônico, TV a cabo, espelho de aumento, secador de cabelo, amenities, bancada para as refeições e frigobar abastecido.</p>
        </div>
    </div>
</section>

