@{
    ViewData["Title"] = "Home Page";
}



<section>
    <h1>Hotel</h1>
    <div class="imgs">
        <div class="img" style="background-image: url(https://lirp.cdn-website.com/da7e3151/dms3rep/multi/opt/BOURBON_TBF5397-min-e08bc45e-1920w.jpg);"></div>
        <div class="img" style="background-image: url(https://lirp.cdn-website.com/da7e3151/dms3rep/multi/opt/Bourbon-Assun%C3%A7ao-Lobby-3-1920w.jpg);"></div>
        <div class="img" style="background-image: url(https://lirp.cdn-website.com/da7e3151/dms3rep/multi/opt/Be-Jardin-Escondido-Sala-de-estar-10-1920w.jpg);"></div>
        <div class="img" style="background-image: url(https://lirp.cdn-website.com/da7e3151/dms3rep/multi/opt/Rio-Hotel-by-Bourbon-Ciudad-del-Este---Fachada-1-18eba86e-1920w.jpg);"></div>
    </div>
</section>>
