
@{
    ViewData["Title"] = "QuartoCasal";
}

<!-- SECTION -->
<section>
    <div class="quarto">
        <div class="img">
            <div class="img" style="background-image: url(https://www.hplus.com.br/wp-content/uploads/2019/09/quarto-superior-cama-casal-do-hotel-brasilia-athos-bulcao-14.jpg); "></div>
        </div>
        <div class="conteudo">
            <h1>Quarto para Casais</h1>
            <p>O Quarto para Casais possui uma cama de casal, tem um clima agradável e relaxante para o descanso. Ao mesmo tempo, a bancada permite a execução de trabalhos no mesmo espaço, atendendo a todas as necessidades dos hospedes. Quarto com de 30 a 38 m², este quarto conta com 1 cama de casal, ar condicionado, internet wi-fi, cofre eletrônico, TV a cabo, espelho de aumento, secador de cabelo, amenities, bancada para as refeições e frigobar abastecido.</p>
        </div>
    </div>
</section>

