
@{
    ViewData["Title"] = "QuartoSolteiro";
}

<!-- SECTION -->
<section>
    <div class="quarto">
        <div class="img">
            <div class="img" style="background-image: url(https://www.hplus.com.br/wp-content/uploads/2019/08/quarto-superior-solteiro-hotel-cullinan-hplus-em-brasilia-1.jpg);"></div>
        </div>
        <div class="conteudo">
            <h1>Quarto para Solteiros</h1>
            <p>O Quarto de Solteiro possui uma cama de solteiro que conta com uma iluminação que é um show à parte, além da beleza e delicadeza de toda a decoração do espaço. Com 26m², este quarto conta com 1 cama de solteiro, ar-condicionado, internet wi-fi, cofre eletrônico, amenities, bancada para as refeições, secador de cabelo e TV a cabo.</p>
        </div>
    </div>
</section>
