
@{
    ViewData["Title"] = "Sobre";
}

<!-- SECTION -->
<section>
    <div class="sobre">
        <div class="img">
            <div class="img">
                <img src="/img/logo_teste.png" alt="" />
            </div>
        </div>
        <div class="conteudo">
            <h1>Sobre nós</h1>
            <p>Somos uma Hotelaria de grande prestigio em nossa cidade atuando desde 1999.<br>Atuamos no mercado a mais de 20 anos e sempre prezamos pelo conforto e qualidade de nossos hospedes, oferecendo o conforto durante suas hospitalidade.</p>
        </div>
    </div>
</section>

